.App {
  text-align: center;
  background-color: #FAF5D4;
  height: 100vh;
  color: #000F55;
  max-width: 950px;
  margin: 0 auto;
}

.App-logo {
  font: 400 70px/1.5 'Pacifico',
  Helvetica,
  sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1),
  7px 7px 0px rgba(0, 0, 0, 0.05);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


/*** MOBILE STYELS ***/

@media screen and (max-width: 680px) {
  .App-logo {
    font-size: 50px;
  }
}
